In [1]:
import pandas as pd
import numpy as np

In [2]:
# load reported gene
reported = pd.read_csv('AD_gene_reported_anoted.csv')

In [3]:
reported = reported.dropna()

In [4]:
reported = reported.set_index('SYMBOL');
reported.head()

,Unnamed: 0,ENSEMBL,ENTREZID,GENENAME
SYMBOL,,,,
ABCA7,1,ENSG00000064687,10347.0,ATP binding cassette subfamily A member 7
ACE,3,ENSG00000159640,1636.0,angiotensin I converting enzyme
ADAM10,4,ENSG00000137845,102.0,ADAM metallopeptidase domain 10
ADAMTS4,5,ENSG00000158859,9507.0,ADAM metallopeptidase with thrombospondin type...
ALPK2,6,ENSG00000198796,115701.0,alpha kinase 2

In [5]:
reported.ENTREZID = reported.ENTREZID.astype(int)

In [6]:
reportedGene = list(reported.ENTREZID)
print(len(reportedGene))

46

In [7]:
#load DE
deData = pd.read_csv('OutputAD_limma.dat')

In [8]:
deData.head()

   ENTREZ_GENE_ID     logFC   AveExpr         t   P.Value  adj.P.Val         B
0              10  0.096475  4.976785  0.420912  0.673898   0.999958 -5.381185
1             100  0.001244  1.750290  0.027100  0.978384   0.999958 -5.453624
2            1000  0.002668  1.787984  0.057769  0.953943   0.999958 -5.452555
3           10000 -0.010861  1.726682 -0.250108  0.802549   0.999958 -5.428241
4       100009676 -0.090105  3.657596 -0.505002  0.613654   0.999958 -5.349222

In [9]:
deGenes = list(deData[deData['P.Value']<0.05]['ENTREZ_GENE_ID'])
print(len(deGenes))

269

In [10]:
commonGene = list(set(deGenes).intersection(set(reportedGene)))

In [11]:
reported.reset_index().set_index('ENTREZID').loc[commonGene]

Empty DataFrame
Columns: [SYMBOL, Unnamed: 0, ENSEMBL, GENENAME]
Index: []

In [12]:
UnionGene = list(set(deGenes).union(set(reportedGene)))

In [13]:
len(UnionGene)

315

In [14]:
print(UnionGene)

[79873, 152579, 79890, 25, 1051, 28, 23588, 23595, 10284, 124976, 51248, 3123, 5173, 23607, 3127, 135228, 5199, 2128, 5201, 254042, 30815, 102, 4199, 10347, 114796, 4204, 114798, 114799, 8301, 114801, 30834, 4208, 51314, 5245, 10369, 58503, 374920, 2185, 1163, 64651, 3213, 100289678, 402573, 10384, 1173, 51350, 259230, 100128927, 1184, 2206, 57506, 123041, 54436, 3237, 1191, 100129961, 25769, 25771, 2220, 7337, 177, 84148, 10425, 25787, 144577, 25796, 51398, 6345, 54474, 3276, 9420, 51412, 10452, 84186, 5348, 474344, 25833, 10476, 10477, 240, 100505841, 5366, 5376, 29958, 3339, 1293, 101928207, 149775, 274, 275, 51477, 102723864, 57633, 9507, 22820, 80167, 2348, 25906, 55607, 146754, 323, 6474, 56652, 25937, 56660, 341, 254295, 8537, 128346, 3418, 54620, 56667, 348, 5471, 147808, 1378, 51555, 116068, 356, 26986, 100130155, 84331, 134510, 51567, 25976, 114041, 1404, 85377, 140679, 1415, 140687, 4495, 123283, 1429, 54677, 254359, 55707, 6555, 387486, 63906, 10658, 101060004, 3495, 144811, 10668, 26036, 50616, 27065, 26047, 147906, 1475, 26050, 101927365, 10695, 5580, 66005, 256471, 171484, 51678, 3551, 138724, 10730, 26094, 9712, 10739, 54776, 6653, 147968, 55808, 8704, 83464, 285194, 50717, 54815, 26152, 5675, 54830, 1583, 3631, 3632, 3635, 23092, 576, 140873, 53836, 347735, 388695, 55900, 607, 119392, 56929, 148066, 3682, 399972, 1636, 10859, 55917, 10863, 440944, 8820, 26229, 23161, 439938, 2694, 374407, 151176, 116362, 8846, 23185, 56981, 118424, 23194, 23195, 5788, 5792, 100289187, 5802, 27309, 4782, 26287, 5819, 10940, 10945, 352961, 5828, 151242, 23242, 283349, 84698, 116443, 116444, 283358, 2783, 116449, 441058, 10979, 23268, 101410535, 2792, 1769, 64231, 5875, 55037, 101929726, 6911, 57091, 150280, 6921, 4883, 11031, 55063, 55076, 1829, 116519, 220972, 1839, 100874032, 100289341, 441150, 55101, 138050, 56130, 55112, 4943, 23386, 55132, 4968, 2925, 400238, 338799, 11122, 4985, 4986, 100874110, 374654, 84864, 6017, 79746, 51082, 26508, 51084, 910, 375704, 26526, 10144, 26528, 10155, 23473, 390066, 945, 11194, 3004, 51133, 54209, 54212, 5063, 135112, 135114, 51147, 118738, 100874195, 252884, 4052, 256987, 51164, 55262, 23519, 11238, 5094, 51186, 2036, 115701, 2041, 152573, 125950]

In [15]:
#load expresion data
ADexpressionData = pd.read_csv('AD_data_GEO.csv')

In [16]:
ADexpressionData.head()

,ENTREZ_GENE_ID,GSM2233534,GSM2233535,GSM2233537,GSM2233538,GSM2233539,GSM2233540,GSM2233541,GSM2233542,GSM2233544,...,GSM2235488,GSM2235490,GSM2235495,GSM2235501,GSM2235503,GSM2235504,GSM2235512,GSM2235519,GSM2235521,GSM2235522
0,10,1.894550,1.844536,1.407503,1.851952,1.725851,1.752923,1.471343,1.395326,2.219697,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,100,2.723472,2.660155,2.472315,2.179213,2.443815,2.617917,2.749893,2.385487,2.638806,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,1000,7.866425,7.966718,7.696251,7.666251,7.580768,8.220708,7.711140,8.136351,7.732809,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,10000,3.490881,3.225545,3.508853,3.770084,3.404882,3.562278,3.537456,4.147778,3.415148,...,3.626186,2.990150,3.002777,2.733827,4.026714,3.502457,3.413461,3.809056,3.650891,3.679745
4,100009676,1.728233,1.907187,1.772074,1.624281,1.816555,1.878175,1.637512,1.710690,1.577785,...,2.598129,2.309836,2.343526,2.677604,2.299704,2.337758,2.815082,2.590416,2.605727,2.574401

In [17]:
ADgeoSelectedGene = ADexpressionData.set_index('ENTREZ_GENE_ID').loc[UnionGene]

/home/ranap/anaconda3/envs/BioSandbox/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [19]:
ADgeoSelectedGene.dropna(inplace=True)

In [ ]:
ADgeoSelectedGene.to_csv('ADgeoSelectedGene.csv')