In [1]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('PD_Data_annoted.csv')

In [20]:
data.head()

,Unnamed: 0,ENTREZID,ENSEMBL,GENENAME,SYMBOL,Label,timeset,modularity_class,pageranks
0,1,10,ENSG00000156006,N-acetyltransferase 2,NAT2,10,NaN,38,0.000850
1,2,10006,ENSG00000136754,abl interactor 1,ABI1,10006,NaN,35,0.001486
2,3,100128640,ENSG00000229589,ACVR2B antisense RNA 1,ACVR2B-AS1,100128640,NaN,5,0.000352
3,4,100129271,ENSG00000198854,chromosome 1 open reading frame 68,C1orf68,100129271,NaN,5,0.001381
4,5,100129528,NaN,mucin 8,MUC8,100129528,NaN,40,0.000309

In [21]:
print(data['pageranks'].max(), data['pageranks'].min())

0.005433 0.00019

In [22]:
reportedGene = pd.read_csv('PDgene', header = None)

In [23]:
reportedGene= reportedGene.groupby(0, group_keys=True).max().reset_index()

In [24]:
print(reportedGene.shape)
reportedGene.head()

(66, 1)

               0
0          ACMSD
1  ACMSD-TMEM163
2          ALAS1
3           ANK2
4       ATP6V0A1

In [25]:
reportedGene.to_csv('PD_gene_unique.csv')

# for PD
reportedGene.merge(data, how='inner', left_on=0, right_on='SYMBOL')

In [18]:
# for AD
reportedGene.merge(data, how='inner', left_on=0, right_on='SYMBOL')

,0,Unnamed: 0,ENTREZID,ENSEMBL,GENENAME,SYMBOL,Label,timeset,modularity_class,pageranks
0,SLC10A2,1114,6555,ENSG00000125255,solute carrier family 10 member 2,SLC10A2,6555,NaN,20,0.000582