In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('AD_Data_annoted.csv')

In [11]:
data.head()

,Unnamed: 0,ENTREZID,ENSEMBL,GENENAME,SYMBOL,Label,timeset,modularity_class,pageranks
0,1,10,ENSG00000156006,N-acetyltransferase 2,NAT2,10,NaN,20,0.000530
1,2,10002,ENSG00000278570,nuclear receptor subfamily 2 group E member 3,NR2E3,10002,NaN,20,0.000618
2,3,10006,ENSG00000136754,abl interactor 1,ABI1,10006,NaN,19,0.000632
3,4,100113407,ENSG00000205269,transmembrane protein 170B,TMEM170B,100113407,NaN,2,0.000519
4,5,100126793,ENSG00000240288,ghrelin opposite strand/antisense RNA,GHRLOS,100126793,NaN,26,0.000530

In [12]:
print(data['pageranks'].max(), data['pageranks'].min())

0.002234 0.000512

In [13]:
reportedGene = pd.read_csv('ADgene', header = None)

In [14]:
reportedGene= reportedGene.groupby(0, group_keys=True).max().reset_index()

In [15]:
print(reportedGene.shape)
reportedGene.head()

(55, 1)

            0
0       ABCA7
1  AC074212.3
2         ACE
3      ADAM10
4     ADAMTS4

In [16]:
reportedGene.to_csv('AD_gene_unique.csv')

In [17]:
# for PD
reportedGene.merge(data, how='inner', left_on=0, right_on='SYMBOL')

,0,Unnamed: 0,ENTREZID,ENSEMBL,GENENAME,SYMBOL,Label,timeset,modularity_class,pageranks
0,SLC10A2,1114,6555,ENSG00000125255,solute carrier family 10 member 2,SLC10A2,6555,NaN,20,0.000582

In [18]:
# for AD
reportedGene.merge(data, how='inner', left_on=0, right_on='SYMBOL')

,0,Unnamed: 0,ENTREZID,ENSEMBL,GENENAME,SYMBOL,Label,timeset,modularity_class,pageranks
0,SLC10A2,1114,6555,ENSG00000125255,solute carrier family 10 member 2,SLC10A2,6555,NaN,20,0.000582